@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h3>Web Developers | .Net Developer, Örebro </h3>
        <p>Welcome</p>
    </div>


    {

        <div class="container">
            <div class="row row-cols-3 ">
                <div class="col box">
                    <ul>
                        <li>Name</li>
                        <li>Role</li>
                    </ul>
                </div>
                <div class="col box">
                    <ul>
                        <li>Name</li>
                        <li>Role</li>
                    </ul>
                </div>
                <div class="col box">
                    <ul>
                        <li>Name</li>
                        <li>Role</li>
                    </ul>
                </div>
                <div class="col box">
                    <ul>
                        <li>Name</li>
                        <li>Role</li>
                    </ul>
                </div>
                <div class="col box">
                    <ul>
                        <li>Name</li>
                        <li>Role</li>
                    </ul>
                </div>
                <div class="col box">
                    <ul>
                        <li>Name</li>
                        <li>Role</li>
                    </ul>
                </div>
            </div>
        </div>

    }
}