@if (SignInManager.IsSignedIn(User))
{
}
else
{ 
<div class="text-center">
    <h3>Welocome to this SchoolPortal </h3>
    <p>Log in to se further information.</p>
    <p>If you don't have a log in account, please contact admin@domain.com</p>
</div>
}
