@model IEnumerable<AppUser>

<a asp-action="Create" class="container">Add a new User</a>

<div class="container">
    <div class="row row-cols-3 ">
        <div class="col box">
            <ul>
                <h4 class="mt-4">Administrators</h4>
                @foreach (var user in ViewBag.Admins)
                {
                    <div>@user.DisplayName</div>
                }
            </ul>
        </div>
        <div class="col box">
            <ul>
                <h4 class="mt-4">Teachers</h4>
                @foreach (var user in ViewBag.Teachers)
                {
                    <div>@user.DisplayName</div>
                }
            </ul>
        </div>
        <div class="col box">
            <ul>
                <h4 class="mt-4">Students</h4>
                @foreach (var user in ViewBag.Students)
                {
                    <div>@user.DisplayName</div>
                }

            </ul>
        </div>
    </div>
</div>

    


